.contact-page {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 2rem;
    font-family: Arial, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .contact-page__header-row {
    display: flex;
    align-items: center; /* Align text and icon vertically */
    justify-content: space-between; /* Add space between text and icon */
  }

  .contact-page__info {
    flex: 1;
    padding-right: 2rem;
  }
  
  .contact-page__header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .contact-page__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .contact-page__address-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-page__address-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact-page__address-card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    flex: 1;
  }
  
  .contact-page__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .contact-page__icon {
    text-align: left;
    margin-right: 17rem;
    fill: #00a152;
    margin-top: 5px;
    flex-shrink: 0; /* Adjust to align better vertically */
  }
  
  .contact-page__form {
    flex: 1;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-page__form h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .contact-page__form-group {
    margin-bottom: 1.5rem;
  }
  
  .contact-page__form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .contact-page__form-control {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
  .contact-page__email a {
    font-size: 1.2rem;
    color: #00a152;
    /* margin-top: 1rem; */
    text-align: left; /* Ensure text inside stays left-aligned */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
  }

  .contact-page__form-actions {
    text-align: center;
  }
  
  .contact-page__form-submit {
    background-color: #00a152;
    color: #ffffff;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-page__form-submit:hover {
    background-color: #008d43;
  }